<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AfterSaleMapper">
    <insert id="add" parameterType="AfterSale">
        insert into aftersale(oid,info,status) values(#{id},#{info},#{status})
    </insert>

    <select id="get" parameterType="_int" resultType="AfterSale">
        select * from aftersale where id=#{id}
    </select>
    <select id="getByOid" parameterType="_int" resultType="AfterSale">
        select * from aftersale where oid=#{oid}
    </select>
    <select id="update" parameterType="AfterSale">
        update aftersale set status=#{status} where id=#{id}
    </select>
</mapper>