<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.OrdersMapper">
    <resultMap type="Orders" id="ordersBean">
        <id column="oid" property="id"/>
        <result column="ocode" property="code"/>
        <result column="uid" property="uid"/>
        <result column="status" property="status"/>
        <result column="total" property="total"/>

        <collection property="ordersItems" ofType="OrdersItem">
            <id column="oiid" property="id"/>
            <result column="number" property="number"/>
            <association property="product" javaType="Product">
                <id column="pid" property="id"/>
                <result column="pname" property="name"/>
                <result column="price" property="price"/>
                <result column="imageurl" property="imageurl"/>
            </association>
        </collection>
    </resultMap>

    <insert id="add" parameterType="Orders">
        INSERT INTO orders (code, uid, status,total) VALUES (#{code}, #{uid}, #{status},#{total})
    </insert>
    <delete id="delete" parameterType="Orders">
        DELETE FROM orders
        WHERE id = #{id}
    </delete>
    <select id="get" parameterType="_int" resultType="Orders">
        SELECT *
        FROM orders
        WHERE id = #{id}
    </select>
    <update id="update" parameterType="Orders">
        UPDATE orders
        SET code = #{code}, uid = #{uid}, status = #{status},total=#{total}
        WHERE id = #{id}
    </update>
    <select id="list" resultType="Orders">
        SELECT *
        FROM orders
    </select>
    <select id="listOrder" resultMap="ordersBean">
        SELECT
            o.id   'oid',
            o.code 'ocode',
            uid,
            status,
            total,
            oi.id  'oiid',
            number,
            p.id   'pid',
            p.name 'pname',
            price,
            imageurl
        FROM orders o
            LEFT JOIN ordersitem oi ON o.id = oi.oid
            LEFT JOIN product p ON p.id = oi.pid
    </select>

    <select id="getOrders" parameterType="_int" resultMap="ordersBean">
        SELECT
            o.id   'oid',
            o.code 'ocode',
            uid,
            status,
            total,
            oi.id  'oiid',
            number,
            p.id   'pid',
            p.name 'pname',
            price,
            imageurl
        FROM orders o
            LEFT JOIN ordersitem oi ON o.id = oi.oid
            LEFT JOIN product p ON p.id = oi.pid
        WHERE o.id = #{id}
    </select>

    <select id="getOrdersByUid" parameterType="_int" resultMap="ordersBean">
        SELECT
            o.id   'oid',
            o.code 'ocode',
            uid,
            status,
            total,
            oi.id 'oiid',
            number,
            oi.id 'oiid',
            p.id   'pid',
            p.name 'pname',
            price,
            imageurl
        FROM orders o
            LEFT JOIN ordersitem oi ON o.id = oi.oid
            LEFT JOIN product p ON p.id = oi.pid
        WHERE uid = #{id}
    </select>
    <select id="getOrdersByCode" parameterType="String" resultMap="ordersBean">
        SELECT
            o.id   'oid',
            o.code 'ocode',
            uid,
            status,
            total,
            oi.id  'oiid',
            number,
            p.id   'pid',
            p.name 'pname',
            price,
            imageurl
        FROM orders o
            LEFT JOIN ordersitem oi ON o.id = oi.oid
            LEFT JOIN product p ON p.id = oi.pid
        WHERE o.code = #{code}
    </select>

</mapper>