@charset "UTF-8";
.bgTop{
    width:1200px;
    margin: 5px auto 0;
}
.bgTop2{
    overflow: hidden;
    height:35px;
    line-height:35px;
    padding:5px 0 0 5px;
}
.bgTop2 span a{
    color:#333333;
    text-decoration:none;
}
.bgTop2 span a:hover{
    color:#556fff;
}
.form-content{
    float:left;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";
    font-size:14px;
}

.form-content span{
    font-size:16px;
    font-weight:bold;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";
}

.formtitle{
    border-bottom:solid 1px #d0dee5;
    line-height:35px;
    height:35px;
    margin-bottom:28px;
    margin-left:30px;
    width:100%;
}

.rowStyle{
    margin-left:30px;
    padding-bottom:10px;
}

.textareaStyle{
    width:600px;
    height:200px;
    font-size:14px;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";
    border: 1px solid rgba(0,0,0,.15);
    margin-left: 15px;
    border-radius: .25rem;
}

.main-table-send{
    margin:5px auto;
    width:1200px;
}
