.bgTop{
    margin:0 auto;
    width:1200px;
}
.bgTop2{
    overflow: hidden;
    height:35px;
    line-height:35px;
    padding:5px 0 0 5px;
}
.bgTop2 span a{
    color:#333333;
    text-decoration:none;
}
.bgTop2 span a:hover{
    color:#556fff;
}
.productList{
    margin:0 auto;
    width:1200px;
}
.bgTop2{
    overflow: hidden;
    height:35px;
    line-height:35px;
    padding:5px 0 0 5px;
}


.sub-title{
    text-align: center;
    margin: 20px auto;
    font-size: 12px;
    color: #51504e;
    width: 714px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    height: 109px;
}
.title-name{
    display:block;
    color:#3f3b3a;
    font-size:30px;
    padding-bottom:5px;
    margin:auto;
    font-weight:normal;
}
.sub-title span{
    display:inline-block;
    text-transform:uppercase;
    font-family:arial;
    letter-spacing:2px;

    padding:0 80px;
    position:relative
}
.sub-title span::before, .sub-title span::after{
    content:"";
    width:60px;
    height:1px;
    background-color:#999;
    top:8px;
    position:absolute;
}
.sub-title span::before{
    left:18px;
}




.panel{
    padding-left:350px;
    padding-top:20px;
}
.panel-title{
    font-size:20px;
    color:#3f3b3a;
    font-weight:normal;
}
.mytable{
    width:800px;
    margin-left:30px;
}

.panel-header ul li{
    font-size:16px;
    max-width:1100px;
    margin-left:30px;
    list-style:none;
    float:left;
}

.mypanel{
    float:left;
}

.set-padding-bottom{
    padding-bottom:20px;
}

.textareaStyle{
    width:340px;
    height:160px;
    font-size:14px;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.mytable tr td{
    vertical-align: middle;
}

.main-table-center{
    float: left;
    width: 700px;
}
.newsList{
    width:700px;
    margin:10px auto;
    font-family: "宋体";
}
.list-title{
    font: 14px arial;
    line-height: normal;
    margin: 0;
    padding: 0;
    color: #03f;
    line-height: 32px;
    background: url(../images/intro_5.png) left center no-repeat;
    border-bottom: #666 1px dashed;
}
.list-title span{
    float: right;
    padding-right: 10px;
    color: #6CBBFF;
}
.list-title a{
    color:#534a4a;
    padding-left: 10px;
}
.list-title a:hover{
    color:#03f;
}
.pageNews a{
    text-decoration: none;
}

.news{
    width:670px;
    margin:30px auto;
}
.newsTitle{
    display: block;
    color: #3f3b3a;
    font-size: 30px;
    padding-bottom: 5px;
    margin: auto;
    font-weight: normal;
}
