.bgTop{
    width:1200px;
    margin: 5px auto 0;
}
.bgTop2{
    overflow: hidden;
    height:35px;
    line-height:35px;
    padding:5px 0 0 5px;
}
.bgTop2 span a{
    color:#333333;
    text-decoration:none;
}
.bgTop2 span a:hover{
    color:#556fff;
}

@charset "UTF-8";

body{
    margin:0 auto;
    background-color:#FFFFFF;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";
    font-size:14px;
    max-width:1100px;
}

.home-top {
    margin:0 auto;
    max-width: 1100px;
    height: 30px;
    background-color:#F8F8F8;
}

.home-top-left {
    float:left;
}

.home-top-right{
    float:right;
}

.home-top-right ul li{
    margin-left:16px;
    list-style:none;
    float:left;
}

.home-boxtitle{
    width: 1100px;
    margin: 0px auto;
    height: 125px;
    background-color:#F8F8F8;
}

.home-boxtitle-left {
    float:left;
    padding-right:50px;
}

.search-bar {
    margin-top:15px;
    width:560px;
    height:46px;
    border:2px solid red;
    outline:none;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";
    font-size:14px;
}

.search-button {
    width:136px;
    height:48px;
    background-color:red;
    color:white;
    border:none;
    outline:none;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";
    font-size:16px;
}

.nav-table{
    max-width: 1100px;
    margin: 0 auto;
    height: 45px;
    margin-top:30px;
}
.nav-table-left{
    float:left;
    background:#d2364c;
    color:#fff ;
    height: 45px;
    line-height: 45px;
    display:block;
    width:200px ;
    text-align: center;
    font-size:16px ;
}

.nav-table-right{
    margin-left:100px;
    padding-right:50px;
    float:center;
}

.nav-table-right ul li{
    margin-left:16px;
    list-style:none;
    float:left;
    font-size:16px;
    height: 45px;
    line-height: 45px;
    font-weight:bold;
    display:block;
    padding-left:10px;
    padding-right:10px;
}

.parting-line{
    float:left;
    height:20px;
    margin-top:16px;
    border-right:1px solid #dddddd;
}

.line{
    display: block;
    width:100%;
    height:2px ;
    border-bottom:2px solid #d2364c;
}

.main-table{
    float:left;
    width: 1200px;
    margin-left:1px;
    margin-top:10px;
}

.tddiv{
    height:300px;
    width:200px;
}

.tddiv ul li{
    list-style:none;
    text-align:center;
}

.main-table-left{
    float:left;
    width:180px;
    background:#FFFFFF;
    margin-left:5px;
    text-align:center;
    margin-right:20px;
}

.menutop-parting-line{
    display: block;
    height:6px;
    width:100%;
    border-bottom:6px solid #ffcccc;
}

.title{
    color:#ff9999;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:10px;
}

.menu-parting-line{
    height:1px;
    width:90%;
    margin:0 auto;
    border-bottom:1px solid #dddddd;
}

.title1{
    font-weight:bold;
    color:blue;
}
.main-table-left ul{
    display:inline;
}
.main-table-left ul li{
    list-style:none;
    padding-bottom:15px;
}

.main-table-center{
    float:left;
    width:200px;
}

.main-header{

}

.main-goods{
    margin-top:15px;
    margin-bottom:15px;
    width:812px;
    background:#fff;
    overflow:hidden;
}

.main-goods-name{
    font-size:16px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.main-parting-line{
    height:1px;
    margin:0 auto;
    border-bottom:1px solid #dddddd;
}

.main-goods ul li{
    float:left;
    list-style:none;
    width:25%;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}

.main-goods ul li a img{
    width:30px ;
    height: 30px;
    margin: auto;
}

.main-goods ul li a span{
    height: 18px;
    line-height: 18px;
    display: block;
}

.nav-table-top{
    max-width: 1100px;
    margin: 0 auto;
    height: 45px;
    margin-top:30px;
    margin-left:30px;
    font-size:16px;
}

.nav-table-top ul li{
    padding-bottom:10px;
    list-style:none;
}

.imageStyle{
    height:100px;
    width:100px;
}

.mytable{
    width:100%;
}

.btnBuy{
    border:solid 1px #FF0000;
}
.btnSet{
    border:solid 1px #ff0000;
}


.inputStyle{
    width:60px;
    height:30px;
}

.totalDiv{
    float:right;
}

.labelStyle{
    font-size:16px;
}
.line{
    display: block;
    width:100%;
    height:2px ;
    border-bottom:2px solid #d2364c;
}


.form-content{
    float:left;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";
    font-size:14px;
}

.form-content span{
    font-size:16px;
    font-weight:bold;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";
}

.formtitle{
    border-bottom:solid 1px #d0dee5;
    line-height:35px;
    height:35px;
    margin-bottom:28px;
    margin-left:30px;
    width:800px;
}

.rowStyle{
    margin-left:30px;
    padding-bottom:10px;
}

.textareaStyle{
    width:600px;
    height:150px;
    font-size:14px;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.textareaReply{
    width:350px;
    height:150px;
    font-size:14px;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}